@use "base/variables" as v;
@use "base/mixins" as m;

.tickets {
  padding: 5rem 0;
  h3 {
    text-align: center;
    color: v.$white;
    margin-bottom: 2rem;
  }

  .container-tickets {
    @include m.tablet {
      @include m.grid(2, 5rem);
    }
  }
}

.pase {
  transition: transform .3s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }

  color: black;

  .name-pase {
    text-align: center;
    font-weight: 900;
    font-size: 3.6rem;
    color: v.$white;
  }

  &-header,
  &-footer {
    padding: 0.5rem;
    p {
      text-align: center;
      color: v.$white;
      margin: 0;
    }
  }
  &-header {
    background-color: v.$pink;
    p {
      text-transform: uppercase;
      font-size: 1.6rem;
      padding: 1rem 0;
    }
  }

  &-body {
    background-color: v.$white;
    ul {
      @include m.reset-list;
      li,
      :nth-child(odd) {
        background-color: v.$white;
        padding: 1rem;
        border-bottom: 1px solid #e1e1e1;
      }
    }
  }

  &-footer {
    background-color: v.$white;
    padding: 3rem;
    p {
      font-size: 2.8rem;
      font-weight: 700;
      background-color: v.$purple;
      padding: 1rem 0;
      border-radius: 1rem;
      cursor: pointer;

      &:hover {
        background-color: darken(v.$purple, 20);
      }
    }
  }
}
