@use "base/variables" as v;
@use "base/mixins" as m;

.header {
  background-color: v.$green;

  h1 {
    color: v.$white;
  }
}

.main-navigation {
  background-color: red;
  @include m.phone {
    background-color: blue;
  }
  @include m.tablet {
    background-color: cornflowerblue;
  }
  @include m.desktop {
    background-color: darkgreen;
  }
  @include m.desktopXL {
    background-color: white;
  }

  a {
    color: v.$white;
    font-size: 2.4rem;

    &:hover {
      color: v.$yellow;
    }
  }
}
